<assembly xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/ASSEMBLY/2.2.0"
          xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.2.0 https://maven.apache.org/xsd/assembly-2.2.0.xsd">

    <id>plugin</id>

    <formats>
        <format>zip</format>
    </formats>

    <includeBaseDirectory>true</includeBaseDirectory>
    <baseDirectory>vernac-intellij</baseDirectory>

    <files>
        <file>
            <source>${project.build.directory}/${project.build.finalName}.jar</source>
            <outputDirectory>lib</outputDirectory>
        </file>
    </files>

    <dependencySets>
        <dependencySet>
            <outputDirectory>server</outputDirectory>
            <outputFileNameMapping>vernac-lsp.jar</outputFileNameMapping>
            <scope>provided</scope>
            <useProjectArtifact>false</useProjectArtifact>
            <useTransitiveDependencies>false</useTransitiveDependencies>
            <includes>
                <include>org.vernac:vernac-lsp</include>
            </includes>
            <unpack>false</unpack>
        </dependencySet>
    </dependencySets>
</assembly>